* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color:  #F5DBD7;
    color: black;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}


header {
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom: solid 5px #D73A3A;
    padding: 1rem;
}

header img {
    margin: 10px;
    width: 200px;
    /* margin-left: 1rem; */
}

aside {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #43485B;
    color: white;
    width: 100%;
    padding: 2rem;
    
}



