* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color:  #F3C1B8;
    color: var(--color);
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}


nav {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #F3C1B8;
    /* border-bottom: solid 10px rgb(51, 51, 61); */
}

aside {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #43485B;
    color: white;
    width: 100%;
    
}



