@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --color: black;
    }
}

@media screen and (min-width: 700px) {

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: rgb(38,38,38,1);
    }

    .grid {
        width: 80%;
        background-color: rgb(38,38,38,1);
        margin-left: 4rem;
    }

    .grid article {
        width: calc(100% - 20px);
        background-color: white;
    }

    h1 {
        font-size: 50px;
    }

    nav {
        height: 100px;
    }

}

@media screen and (min-width: 1000px) {

    .grid {
        width: 50%;
    }

    .grid article {
        width: calc(100% - 20px);
    }

    aside {
        width: 25%;
        background-color: var(--bg);
        height: 100vh;
        margin: 1rem;
}