

h2 {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.grid a {
    text-decoration: none;
    color: var(--color);
}

.grid a h2:hover {
    text-decoration: underline;
}

.published-date {
    font-size: 14px;
}

.content { 
    margin-top: 0.5rem;
}

nav a {
    text-decoration: none;
}

.aside-links {
    text-decoration: none;
    color: var(--color);
    margin: 10px;
    font-weight: bold;
}

.aside-links:hover {
    text-decoration: underline;
}

.back-button p, .like-button, .like-links {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
    color: white;

}

