@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --color: black;
    }
}

@media screen and (min-width: 700px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    div {
        width: 80%;
    }

    div article {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 1000px) {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    div {
        width: 50%;
    }

    div article {
        width: calc(100% - 20px);
    }

}